@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

header {
    padding: 8px;
    width: 100%;
    background-color: #6950A1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-bottom: 40px;
}

button {
    width: 159px;
    height: 36px;
    padding: 5px;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    border: none;
    font-weight: 700;
    background-color: #FBB04D;
    color: #fff;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.24);
}

.logo-arnia {
    width: 128px;
    height: 38px;
    top: -439px;
    left: -743px;
    background-color: transparent;
}

.posts {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-left: 40px;
    width: 999px;
}

.card {
    width: 999px;
    height: 324px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    position: relative; 
    padding: 10px 20px 20px 20px;
    margin-bottom: 20px;
    border: 1px solid #6950A1;
}

.card img {
    width: 401px; /* Largura desejada */
    height: 223px; /* Altura desejada */
    object-fit: cover; /* Manter proporções e cortar se necessário */
    border-bottom: 1px solid #ddd;
    top: 177px;
    padding-top: 10px;
}

.post-header,
.post-content {
    flex: 1; /* Distribuir espaço restante */
}

.post-header,
.post-content {
    padding: 0 20px 10px 10px;
}

.post-header h2 {
    margin-top: 0;
    color: #333;
}

.post-header h1 {
    margin: 0;
    color: #6950A1;
}

.post-header h4 {
    margin: 0;
    color: #665;
}

.post-content p {
    color: #666;
}

.container-cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

#formulario {
    flex-flow: column wrap;
    align-items: center;
    width: 800px;
    padding: 30px;
}

input {
    display: flex;
    align-items: center;
    max-width: 100%;
    border: 1px solid #6950A1;
    width: 669px;
    height: 48px;
    top: 1209px;
    border-radius: 15px;
    margin-top: 5px;
    margin-bottom: 10px;    
}

input:focus {
    outline: 4px solid rgb(32, 179, 228);
  }

  textarea:focus {
    outline: 4px solid rgb(32, 179, 228);
  }

.titulo {
    width: 1440px;
    height: 932px;
    top: 978px;
    left: -780px;
    border: 1px solid #6950A1;
}

.autor {
    width: 669px;
    height: 48px;
    top: 1209px;
    left: -395px;
    border-radius: 15px;
    border: 1px solid #6950A1;
}

#img {
    width: 669px;
    height: 48px;
    top: 1312px;
    left: -395px;
    border-radius: 15px;
    border: 1px solid #6950A1;
}

#texto {
    width: 669px;
    height: 304px;
    top: 1415px;
    left: -395px;
    border-radius: 15px;
    border: 1px solid #6950A1;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 60px;
}

.botao-salvar {
    width: 669px;
    height: 55px;
    top: 1751px;
    left: -395px;
    border-radius: 25px;
    background-color: #6950A1;
}

.botoes {
    display: flex;
    align-content: end;
    align-items: end;
    width: 140px;
    margin-bottom: 25px;
    margin-right: 20px;
    margin-left: 510px;
}

.botao-excluir {
    background-color: #fff;
    color: #1E1E1E;
    width: 61px;
    height: 26px;
    top: 387px;
    left: 846px;
    border: 1px solid #1E1E1E;
    border-radius: 5px;    
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    align-items: center;
}

.botao-editar {
    background-color: #6950A1;
    width: 58px;
    height: 26px;
    top: 387px;
    left: 919px;   
    border-radius: 5px; 
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    align-items: center;
}

