.body {
    background-color: blue;
}

.botao {
    background-color: orangered;
    color: white;
    border-radius: 12px;
    border: none;
}

.verde {
    background-color: green;
}

.none {
    display: none;
}